@import url('https://fonts.googleapis.com/css?family=Roboto|Space+Mono');


/* GENERAL */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 200; 
}
#root {
  height: 100%;
}
.app {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 50px;
  grid-template-areas: 
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "n f f f f f";
}


/* Message.js */
.message {
  margin: 15px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  opacity: 0.9;
  margin-bottom: 5px;
}
.message .message-text {
  background: #00818a;
  color: white;
  display: inline;
  padding: 5px 7px;
  border-radius: 15px;
}


/* MessageList.js */
.message-list {
  grid-area: m;
  box-sizing: border-box;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-bottom: 1px solid #00818a;
}
 .title {
   margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  font-family: 'Space Mono', monospace;
  font-size: 40px;
  color: #00818a;
}
.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: oblique;
  color: #00818a;
  opacity: 0.7;
}


/* SendMessageForm.js */
.send-message-form {
  display: flex;
  grid-area: f;
}
.send-message-form input {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 10px 10px;
  margin: 0;
  border-style: none;
  font-weight: 200;
  background: white;
}
.send-message-form input:focus {
  outline-width: 0;
  font-size: 15px;
}
.send-message-form input::placeholder {
  color: #283149;
}


/* NewRoomForm.js */
.new-room-form {
  grid-area: n;
}
.new-room-form form {
  padding: 0 5px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #00818a;
}
.new-room-form input {
  font-family: 'Roboto', sans-serif;
  width: 135px;
  color: #283149;
  border: 0;

}
.new-room-form input::placeholder {
  color: #283149;
  font-weight: 200;
}
.new-room-form input:focus {
  font-family: 'Roboto', sans-serif;
  outline-width: 0;
  font-size: 15px;
  color: #00818a;
  border: 0;
}
.new-room-form button {
  font-size: 15px;
  border: 0;
  background: white;
  color: #00818a;
} 


/* RoomList.js */
.rooms-list {
  grid-area: r;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #00818a;
  overflow: auto;
  height: 100%;
}
.rooms-list h3 {
  margin: 5px 0;
  color: white;
  /* opacity: 0.9; */
  font-family: 'Space Mono', monospace;
  text-align: center;
  text-transform: uppercase;
}
.rooms-list ul {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;    
  padding: 0;
  overflow: auto;
}
.rooms-list li {
  font-size: 15px;
  margin: 10px 0;
  color: #283149;
}
.rooms-list .room a {
  color: #283149;
  font-weight: 600;
  text-decoration: none;
}
.rooms-list .room.active a {
  color: #dbedf3;
}
.rooms-list:hover, .room a:hover {
  color: #dbedf3;
}
